body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    background-color: #24242444;
    border-radius: 20px;
    justify-content: center;
}

.error{
    width: 100%;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: small;
    background-color: #e55050;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
    color: #323232;
    margin-bottom: 30px;
}

a{
    color: #0f98ff;
    text-align: center;
    font-size: large;
    text-decoration: none;
}

a:hover{
    color: #126cb1;
}

p, label{
    color: #000000aa;
    font-weight: bold;
}

select{
    margin: auto;
    width: 50%;
    padding: 5px 15px;
    border-radius: 5px;
    border: transparent;
}

select:focus{
    outline: none;
}

select option{
    padding: 0px 7px;
    margin: 3px 0px;
}

select option:checked{
    border-radius: 20px;
}

select::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border: 10px solid #00000000;
    border-radius: 50px;
}

select::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #000000aa;
}

input[type=text], input[type=password], input[type=number]{
    width: 100%;
    margin-bottom: 20px;
    font-size: medium;
    font-weight: 600;
    padding: 10px;
    padding-left: 15px;
    border: 3px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
}

input:focus{
    outline: none;
    border: 3px solid #2fa6ffaa;
}

button{
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    background-color: #3194e0;
    font-size: medium;
    font-weight: 600;
    border: transparent;
    border-radius: 20px;
    padding: 10px 20px;
}

button:hover{
    background-color: #126cb1;
}

.table{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border-collapse: collapse;
}

td{
    text-align: center;
}

tr,td,th{
    padding: 10px 5px;
    border: 1px solid black;
    background-color: white;

}